@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.raise-elements {
    position: relative;
    animation-name: raise;
    animation-duration: 1s;
}

/* <-- animations --> */
@keyframes raise {
    from {top: 20px; opacity: 0;}
    to {top: 0; opacity: 1;}
}

@keyframes grow {
    from {font-size: 0; padding: 0; margin: 0; background-color: none;}
    to {font-size: 17px; padding: 10px; border-radius: 10px; margin: 0 0 20px 0; background-color: #0095FF; color: #fff;}
}

.container {
    width: 100vw;
    height: 100vh;
}

.black-bg {
    background-color: #000000;
}

.navbar {
    background-color: #000000;
    width: 100%;
    height: 60px;
    position: fixed;
    overflow: hidden;
    z-index: 100;
}

.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar .logo, .navbar-items a {
    padding: 15px;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.navbar .logo {
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-items a {
    font-size: 20px;
    padding: 20px;
    transition: 0.3s;
}

.navbar-items a:hover {
    background-color: #0095FF;
}

/* -------- index -------- */

.index .flex-container {
    color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 100px;
    padding: 4%;
    align-items: center;
}

.index .start-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index .button {
    border: 1px solid #0095FF;
    color: #fff;
    background: none;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    transition-duration: 0.3s;
    text-decoration: none;
    border-radius: 100px;
}

.index .button:hover {
    background-color: #0095FF;
}

.index .index-typewriter > .txt {
    border-right: 0.1rem solid #fff;
    white-space: pre;
    font-size: 50px;
}

/* -------- authentication -------- */

.content .flex-container {
    display: flex;
    flex-direction: row;
}

.content .auth-form {
    width: 70%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
}

.form-info {
    width: 30%;
    height: 100vh;
    color: #fff;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-title {
    font-size: 30px;
    text-align: center;
    max-width: 500px;
}

.form-title a {
    text-decoration: underline;
    color: #000000;
}

.content label[for="email"], [for="password"] {
    display: block;
    font-size: 18px;
    padding: 5px 0 5px 10px;
}

.content input[type="email"], [type="password"], [type="submit"] {
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 25px;
    color: #000000;
    transition: 0.3s;
}

.content input[type="email"]:focus, [type="password"]:focus {
    border: 1px solid #0095FF;
    outline: none;
}

.content input[type="submit"] {
    border: 1px solid #0095FF;
    color: #000000;
    background-color: white;
}

.content input[type="submit"]:hover {
    background-color: #0095FF;
    color: #fff;
}

.content .info-description {
    font-size: 18px;
    text-align: center;
}

.blackspace {
    background-color: #000000;
}

/* -------- about -------- */

.about {
    height: fit-content;
}

.about .last-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.about .flex-container {
    display: flex;
    width: 95vw;
    border-radius: 20px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about .product-info {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .title {
    padding: 20px 0 0 0;
    font-size: 30px;
}

.about .flex-details {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.about .item {
    padding: 10px;
    margin: 10px;
    background-color: #0095FF;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    transition: 0.5s;
    box-shadow: 10px 10px #0095ff52;
}

.about .item:hover {
    transform: translateY(-10px);
}

.about .author-links {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: nowrap;
}

.about .button {
    color: white;
    margin: 30px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.about .linkedin {
    background-color: #36b5ff;
}

.about .github {
    background-color: #ff1616;
}

.about .button:hover {
    color: #000000;
    background-color: white;
    transition: 0.5s;
}

/* -------- upload.html -------- */

.upload {
    width: 100vw;
    height: 100vh;
}

.upload .flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload .form-title {
    font-size: 30px;
}

.upload .upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload .upload-icon {
    font-size: 45px;
}

.upload .upload-label {
    padding: 70px 200px;
    margin: 30px auto 20px auto;
    border: 3px solid #000000;
    border-radius: 15px;
    transition: 1s;
    text-align: center;
}

.upload .upload-label:hover {
    border: 3px solid #0095FF;
    transform: translateY(-10px);
    color: #0095FF;
    background-color: #0095ff0b;
}

.upload input[type="submit"] {
    background-color: #fff;
    transition: 0.3s;
    border: 1px solid #0095FF;
    font-size: 15px;
}

.upload input[type="submit"]:hover {
    background-color: #0095FF;
    color: white;
    border: 1px solid #0095FF;
}

.upload .description-text {
    padding: 20px;
    margin: 20px;
    max-width: 50vw;
    text-align: center;
    background-color: #0095ff36;
    border-radius: 20px;
}

.upload .uploaded-file-name {
    font-size: 17px;
    padding: 10px;
    margin: 0 0 20px 0;
    background-color: #0095FF;
    color: #fff;
    border-radius: 10px;
    transition: 0.3s;
    cursor: default;
    animation-name: grow;
    animation-duration: 0.5s;
}

.upload .uploaded-file-name:hover {
    background-color: #0066ff;
}

/* -------- edit_details.html -------- */

.edit-details {
    width: 100vw;
    height: 100vh;
}

.edit-details .flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-details .title {
    font-size: 30px;
    padding: 30px 0 5px 0;
}

.edit-details .section-title {
    font-size: 22px;
    display: flex;
    width: 80vw;
    justify-content: left;
}

.section-title .section-icon {
    padding: 0 10px 0 0;
}

.edit-details .edit-form {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.edit-details .row {
    display: flex;
    width: 80vw;
    padding: 10px;
    flex-wrap: wrap;
    align-items: stretch;
}

.field .input {
    height: 35px;
    font-size: 16px;
    padding: 5px;
    outline: none;
    width: 0;
    min-width: 100%;
    border: 1px solid #00000040;
    border-radius: 5px;
    transition: 0.5s;
}

.field input:focus {
    border: 1px solid #0095FF;
}

.field input:not(:placeholder-shown) {
    border: 1px solid #000000
}

.edit-details label {
    font-size: 18px;
}

.edit-details .field {
    padding: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.personal-info, .education-info, .work-info {
    margin: 30px 0 0 0;
}

.edit-form input[type="submit"] {
    border: 1px solid #0095FF;
    color: #000000;
    background-color: white;
    transition: 0.3s;
    margin: 20px 0 5px 0;
}

.edit-form input[type="submit"]:hover {
    background-color: #0095FF;
    color: #fff;
}

/* -- Personal Row --> */
.row .name, .row .phone {
    flex-grow: 1;
}

/* -- Experience Rows --> */
.row .education {
    flex-grow: 2;
}

.row .skills {
    flex-grow: 10;
}

.row .location, .row .role {
    flex-grow: 1;
}

/* -------- results.html -------- */

.results {
    width: 100vw;
    height: 100vh;
}

.results .flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.results .jobs-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.results .title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
}

.results #no-jobs, .results #submit-form {
    display: none;
}

.results .posting-item {
    flex-grow: 1;
    width: 350px;
    height: auto;
    min-height: 0;
    padding: 20px;
    margin: 20px 50px;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: 0.5s;
}

.results .posting-item:hover {
    border: 1px solid #0095FF;
    transform: translateY(-10px);
    color: #0095FF;
    background-color: #0095ff0b;
}

.posting-item .posting-title {
    font-size: 25px;
    margin: 0 0 10px 0;
    overflow: hidden;
}

.posting-item .posting-details {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.posting-item .confidence-header {
    font-size: 17px;
}

.results hr {
    height: 1px;
    background-color: #0095FF;
    border: none;
    margin: 5px 0 5px 0;
}

.posting-item .description {
    font-size: 15px;
    max-height: 200px;
    overflow: scroll;
    text-overflow: ellipsis;
    border: 1px solid #0095FF;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0 15px 0;
}

.posting-item .footer {
    display: flex;
    max-height: 50px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.posting-item .external-link {
    padding: 5px 10px 5px 10px;
    background-color: #0095FF;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
}

.posting-item .external-link:hover {
    background-color: #0066FF;
}

.select-posting label {
    margin: 0 5px 0 0;
}

input[type='checkbox']:after {
    line-height: 1.5em;
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: -4px;
    margin-left: -4px;
    border: 1px solid rgb(192,192,192);
    border-radius: 3px;
    background: rgb(224,224,224);
}

input[type='checkbox']:checked:after {
    width: 18px;
    height: 18px;
    border-color: green;
    background-color: #0095FF;
}

.results #submit-btn {
    margin: 10px 0 20px 0;
    background-color: #fff;
    color: #000000;
    border: 1px solid #0095FF;
    transition: 0.3s;
}

.results #submit-btn:hover {
    background-color: #0095FF;
    color: #fff;
}