@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100vw;
    height: 100vh;
}

.black-bg {
    background-color: #000000;
}

.navbar {
    background-color: #000000;
    width: 100%;
    height: 60px;
    position: fixed;
    overflow: hidden;
    z-index: 100;
}

.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar .logo, .navbar-items a {
    padding: 15px;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.navbar .logo {
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-items a {
    font-size: 20px;
    padding: 20px;
}

.navbar-items a:hover {
    background-color: #0095FF;
    transition-duration: 0.3s;
}

/* --- index --- */

.index .flex-container {
    color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 100px;
    padding: 4%;
    align-items: center;
}

.index .start-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index .button {
    border: 1px solid #0095FF;
    color: #fff;
    background: none;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    transition-duration: 0.3s;
    text-decoration: none;
    border-radius: 100px;
}

.index .button:hover {
    background-color: #0095FF;
}

.index .index-typewriter > .txt {
    border-right: 0.1rem solid #fff;
    white-space: pre;
    font-size: 50px;
}

/* ----- authentication.html ------ */

.content .flex-container {
    display: flex;
    flex-direction: row;
}

.content .auth-form {
    width: 70%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
}

.form-info {
    width: 30%;
    height: 100vh;
    color: #fff;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-title {
    font-size: 30px;
    text-align: center;
    max-width: 500px;
}

.form-title a {
    text-decoration: underline;
    color: #000000;
}

.content label[for="email"], [for="password"] {
    display: block;
    font-size: 18px;
    padding: 5px 0 5px 10px;
}

.content input[type="email"], [type="password"], [type="submit"] {
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 25px;
    color: #000000;
}

.content input[type="email"]:focus, [type="password"]:focus {
    border: 1px solid #0095FF;
    outline: none;
}

.content input[type="submit"] {
    border: 1px solid #0095FF;
    color: #000000;
    background-color: white;

}

.content input[type="submit"]:hover {
    background-color: #0095FF;
    color: #fff;
}

.content .info-description {
    font-size: 18px;
    text-align: center;
}

.blackspace {
    background-color: #000000;
}

/* ------------ about ---------------- */

.about {
    height: fit-content;
}

.about .last-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.about .flex-container {
    display: flex;
    width: 95vw;
    border-radius: 20px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about .product-info {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .title {
    padding: 20px 0 0 0;
    font-size: 30px;
}

.about .flex-details {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.about .item {
    padding: 10px;
    margin: 10px;
    background-color: #0095FF;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    transition: 0.5s;
    box-shadow: 10px 10px #0095ff52;
}

.about .item:hover {
    transform: translateY(-10px);
}

.about .author-links {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: nowrap;
}

.about .button {
    color: white;
    margin: 30px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.about .linkedin {
    background-color: #36b5ff;
}

.about .github {
    background-color: #ff1616;
}

.about .button:hover {
    color: #000000;
    background-color: white;
    transition: 0.5s;
}