<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}">
    <script src="https://kit.fontawesome.com/fde6b1f1eb.js" crossorigin="anonymous"></script>
    <title>Edit Details</title>
</head>
<body>
    <div class="edit-details">
        <div class="flex-container">
            <div class="title">
                Edit Details
            </div>

            <form action="#" class="edit-form raise-elements" method="post">
                <div class="personal-info">
                    <div class="section-title">
                        <div class="section-icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        Personal Information
                    </div>
                    <hr>
                    <br>
                    <div class="row">
                        <div class="field name">
                            <label class="label" for="fname">First Name</label>
                            <input id="fname" name="fname" placeholder="First Name" required>
                        </div>

                        <div class="field name">
                            <label class="label" for="lname">Last Name</label>
                            <input id="lname" name="lname" placeholder="Last Name" required>
                        </div>

                        <div class="field email">
                            <label class="label" for="email">Email</label>
                            <input id="email" type="email" name="email" placeholder="Email" required>
                        </div>

                        <div class="field phone">
                            <label class="label" for="phone">Phone Number</label>
                            <input id="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" placeholder="Phone (XXX-XXX-XXXX)" required>
                        </div>
                    </div>
                </div>
                <div class="education-info">
                    <div class="section-title">
                        <div class="section-icon">
                            <i class="fa-solid fa-graduation-cap"></i>
                        </div>
                        Education
                    </div>
                    <hr>
                    <br>
                    <div class="row">
                        <div class="field education">
                            <label class="label" for="school-name">School Name</label>
                            <input id="school" name="school-name" placeholder="School Name" required>
                        </div>

                        <div class="field education">
                            <label class="label" for="certifications">Degrees / Certifications</label>
                            <input id="certifications" name="certifications" placeholder="Certifications" required>
                        </div>
                        
                        <div class="field grad-year">
                            <label class="label" for="graduation-year">Graduation Year</label>
                            <input id="graduation-year" type="number" name="graduation-year" placeholder="Graduation Year" required>
                        </div>
                    </div>
                </div>
                <div class="work-info">
                    <div class="section-title">
                        <div class="section-icon">
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        Work Experience
                    </div>
                    <hr>
                    <br>
                    <div class="row">
                        <div class="field years-of-experience">
                            <label class="label" for="yearsofexp">Years of Experience</label>
                            <input id="years-of-experience" type="number" name="yearsofexp" placeholder="Years of Experience" required>
                        </div>

                        <div class="field skills">
                            <label class="label" for="skills">Skills</label>
                            <input id="skills" name="skills" placeholder="Skills (separate with commas)" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field work-experience">
                            <label class="label" for="company">Company</label>
                            <input id="company" name="company" placeholder="Company Name" required>
                        </div>

                        <div class="field work-experience">
                            <label class="label" for="role">Role</label>
                            <input id="role" name="role" placeholder="Role" required>
                        </div>

                        <div class="field work-experience">
                            <label class="label" for="location">Location</label>
                            <input id="location" name="location" placeholder="Location" required>
                        </div>
                    </div>
                </div>
                <input type="submit">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'js/fetchData.js')}}"></script>
</body>
</html>