<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatch</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/fde6b1f1eb.js" crossorigin="anonymous"></script>
    <script src="js/homepage.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="nav-container">
            <a class="logo" href="home.html">JobMatch</a>
            <ul class="navbar-items">
                <li>
                    <a href="#index">Home</a>
                </li>
                <li>
                    <a href="#sign-in">Login</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="index container black-bg" id="index">
        <div class="flex-container">
            <div class="type-writer">
                <p>JobMatch |
                    <span class="index-typewriter"></span>
                </p>
            </div>
        </div>

        <div class="start-button">
            <a class="button" href="#sign-in">Get Started</a>
        </div>
    </div>

    <div class="content container black-bg" id="sign-in">
        <div class="flex-container">
            <div class="auth-form">
                <form action="upload_resume.html">
                    <div class="form-title">
                        Sign in or Create an Account to <span><a target="_blank" href="https://www.careerjet.com">Careerjet</a></span>
                    </div>
                    <br>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Email" data-input="input-value" required>
                    </div>
                    <br>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password" data-input="input-value" required>
                    </div>
                    <br>
                    <div>
                        <input type="submit" class="button">
                    </div>
                </form>
            </div>

            <div class="form-info">
                <div class="info-description">
                    To use JobMatch, you must login / register to Careerjet.
                    <br><br>
                    Note: User data is <u>not</u> stored inside of our database.
                </div>
            </div>
        </div>
    </div>

    <div class="blackspace">
        <br><br>
    </div>

    <div class="about container black-bg" id="about">
        <div class="last-container">
            <div class="flex-container">
                <div class="product-info">
                    <div class="title">
                        How JobMatch Works
                    </div>
    
                    <div class="flex-details">
                        <div class="item">
                            <h2><i class="fa-solid fa-arrow-right-to-bracket"></i></h2>
                            <p>
                                Sign into or create an account to Careerjet above. If your account does not exist, JobMatch will create one for you, based on your given inputs.
                            </p>
                        </div>
    
                        <div class="item">
                            <h2><i class="fa-solid fa-upload"></i></h2>
                            <p>
                                Upload your resume, and the Natural Language Processing (NLP) Machine Learning model will extract keywords.
                            </p>
                        </div>
    
                        <div class="item">
                            <h2><i class="fa-solid fa-pen-to-square"></i></h2>
                            <p>
                                Edit any inaccurate information and submit. Your information will be updated before applying to postings.
                            </p>
                        </div>
    
                        <div class="item">
                            <h2><i class="fa-solid fa-hand-pointer"></i></h2>
                            <p>
                                By using cosine similarity and word vectors to match your resume to jobs in the regularly updated job posting database, only the most relevant jobs will be picked out. Then, simply select the ones that you prefer and click submit.
                            </p>
                        </div>
    
                        <div class="item">
                            <h2><i class="fa-solid fa-circle-check"></i></h2>
                            <p>
                                Congratulations, you have just applied to job listings under one minute! Check your email for submiited job application(s).
                            </p>
                        </div>
                    </div>
                </div>

                <div class="author-links">
                    <a class="linkedin button" target="_blank" href="https://www.linkedin.com/in/ayush2004/">
                        <span>
                            <h2>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </h2>
                        </span>
                        Connect with me on <b>LinkedIn</b>
                    </a>
                    
                    <a class="github button" target="_blank" href="https://github.com/Ayush200423/">
                        <span>
                            <h2>
                                <i class="fa-brands fa-github"></i>
                            </h2>
                        </span>
                        See my other projects on <b>Github</b>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="blackspace">
        <br><br>
    </div>

</body>
</html>