<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatch</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/homepage.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="nav-container">
                <a class="logo" href="home.html">JobMatch</a>
                <ul class="navbar-items">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="website-index">
            <div class="type-writer">
                <p>JobMatch |
                    <span class="index-typewriter"></span>
                </p>
            </div>
        </div>

        <div class="start-button">
            <a class="button" href="#google">Get Started</a>
        </div>
    </div>

    <div class="content container" id="google">
        <div class="flex-container">
            <form action="edit-details.html">
                <div class="form-title">
                    Sign in or Create an Account to <span><a href="https://www.careerjet.com">Careerjet</a></span>
                </div>
                <br>
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email" data-input="input-value" required>
                </div>
                <br>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" data-input="input-value" required>
                </div>
                <br>
                <div>
                    <input type="submit" class="button">
                </div>
            </form>
        </div>
    </div>

</body>
</html>