<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}">
    <script src="https://kit.fontawesome.com/fde6b1f1eb.js" crossorigin="anonymous"></script>
    <title>Upload Files</title>
</head>
<body>
    <div class="upload">
        <div class="flex-container">

            <div class="form-title">
                Upload Your Resume
            </div>
            
            <form action="#" class="upload-form" method="post">
                <input type="file" id="file-box" name="resume-file" accept="application/pdf" required hidden>
                <label for="file-box" class="upload-label">
                    <div class="upload-icon">
                        <i class="fa-solid fa-file-arrow-up"></i>
                    </div>
                    Upload Your Resume
                </label>
                <div class="file-name-textbox"></div>

                <input type="submit" value="Upload">
            </form>

            <div class="description-text">
                Once you upload your resume, our NLP Machine Learning model will parse and extract relevent information about you. 
                <br><br>
                You may edit this information on the next page.
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename = 'js/app.js')}}"></script>
</body>
</html>